<h2 class="text-center">
  Todo App
</h2>
<div class="col-md-8 offset-md-2">
  <input type="text" class="form-control" [formControl]="content" (change)="changeTodo()">
  <ul>
    <li (click)="toggleTodo(i)"
        [class.complete]="todo.complete"
        *ngFor="let todo of todos; index as i">
      <i class="text-danger">{{todo.content}}</i>
      <a class="btn btn-primary m-1" (click)="delete(todo.id)">Delete</a>
      <a class="btn btn-primary m-1" [routerLink]="['/edit/',todo.id]">Edit</a>
    </li>
  </ul>
</div>
