<h3>List customer</h3>

<p>
  <button class="btn btn-success" [routerLink]="['/customer/create']">Create customer</button>
</p>
<div class="form-search">
  <label>Search name: </label>
  <input type="text" #element>
  <button mat-button	 (click)="searchName(element.value)">Search</button>
  <button mat-raised-button (click)="sortName()">Sort name</button>
</div>
<table class="table table-striped table-hover">
  <thead>
  <tr>
    <th>Name</th>
    <th>Type</th>
    <th>Day of birthday</th>
    <th>Phone</th>
    <th>Email</th>
    <th>Address</th>
    <th>Acctions</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let customer of customers | paginate: { itemsPerPage: 3, currentPage: p }">
    <td>{{customer.name}}</td>
    <td>{{customer.typeCustomer.name}}</td>
    <td>{{customer.dayOfBirthday}}</td>
    <td>{{customer.phone}}</td>
    <td>{{customer.email}}</td>
    <td>{{customer.address}}</td>
    <td>
      <!--      <button mat-button (click)="openDialog()"> Mở hộp thoại</button>-->
      <button class="btn btn-success" (click)="openDialogDetail(customer)">Detail</button>
      <button class="btn btn-warning" [routerLink]="['/customer/edit', customer.id]" style="margin-left: 10px">Edit</button>
      <button class="btn btn-danger" (click)="openDialogDelete(customer)" style="margin-left: 10px">Delete</button>
    </td>
  </tr>
  </tbody>
</table>
<div class="page-pipe">
  <pagination-controls (pageChange)="p = $event"></pagination-controls>
</div>
