<h3>Danh sách</h3>

<div class="themmoi">
  <button mat-raised-button color="accent" (click)="openDialogCreate()">Nhập hàng</button>
</div>

<div class="form-search">
  <input placeholder="Tên sản phẩm" #name>
  <button mat-button (click)="searchNameSanPham(name.value)">Tìm kiếm</button>


    <input type="date" #hethan>

  <button mat-button (click)="searchHetHan(hethan.value)">Tìm kiếm</button>


</div>

<table class="table table-striped table-hover">
  <thead>
  <tr>
    <th>Mã lô hàng</th>
    <th>Tên sản phẩm</th>
    <th>GIá tiền</th>
    <th>Đơn vị</th>
    <th>Số lượng</th>
    <th>Ngày nhập hàng</th>
    <th>Ngày sản xuất</th>
    <th>Ngày hết hạn</th>
    <th></th>
  </tr>
  </thead>
  <tbody>
 <tr *ngFor="let loHang of loHangs | paginate: { itemsPerPage: 3, currentPage: p }">
   <td>LH-{{loHang.id}}</td>
   <td>{{loHang.sanPham.name}}</td>
   <td>{{loHang.sanPham.giaTien}}</td>
   <td>{{loHang.sanPham.donVi}}</td>
   <td>{{loHang.soLuong}}</td>
   <td>{{loHang.ngayNhapHang | date: 'dd/MM/yyyy'}}</td>
   <td>{{loHang.ngaySanXuat | date: 'dd/MM/yyyy'}}</td>
   <td>{{loHang.ngayHetHan | date: 'dd/MM/yyyy'}}</td>
   <td>
     <button class="btn btn-warning" style="margin-left: 8px" (click)="openDialogEdit(loHang)">Sửa</button>
     <button class="btn btn-danger" style="margin-left: 8px" (click)="openDialogDelete(loHang)">Xóa</button>
   </td>
 </tr>
  </tbody>
</table>

<div class="page-pipe">
  <pagination-controls (pageChange)="p = $event"></pagination-controls>
</div>
