<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head th:insert="layout::head">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<header th:insert="header::header"></header>
<div class="container">
    <h3 th:text="${news.getHeader()}"></h3>
    <label for="">Ngay tao:</label>
    <span th:text="${news.createDate}"></span>
    <label for="">Catogory:</label>
    <span th:text="${news.category.name}"></span>
    <p th:text="${news.getContent()}"></p>
</div>
</body>
</html>