
<h1 class="bth">Bài tập font-size</h1>
<app-font-size-editor></app-font-size-editor>
<h1>Bài tập thông tin thú nuôi</h1>
<app-pet-infor></app-pet-infor>
<h1>Bài tập danh sách sản phẩm</h1>
<app-list-category></app-list-category>
<h1>Máy tính đơn giản</h1>
<app-calculator></app-calculator>
<h1>Color-picker</h1>
<app-color-picker></app-color-picker>
<h1>Hacknews</h1>
<app-details-hackernews></app-details-hackernews>
<app-navbar></app-navbar>
<h1>Binh chon</h1>
<app-rating-bar></app-rating-bar>
<h1>Coutdown</h1>
<app-countdown-timer></app-countdown-timer>
<h1>Form</h1>
<app-register-final></app-register-final>
<h1>ALo</h1>
<app-alo></app-alo>
<h1>Connect bát ăn</h1>
<h1>Cây sờ tu đi</h1>



