<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head th:insert="layout::head">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="container">
    <h3>Danh sach User</h3>
    <a href="/user/create">Them moi User</a>
    <table class="table">
        <thead>
        <th>Id</th>
        <th>Firstname</th>
        <th>Lastname</th>
        <th>Phonenumber</th>
        <th>Age</th>
        <th>Email</th>
        </thead>
        <tbody>
        <tr th:each="userlist:${userList}">
            <td th:text="${userlist.id}"></td>
            <td th:text="${userlist.firstName}"></td>
            <td th:text="${userlist.lastName}"></td>
            <td th:text="${userlist.phoneNumber}"></td>
            <td th:text="${userlist.age}"></td>
            <td th:text="${userlist.email}"></td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>