<br>
<h3>Log-in</h3>
<form [formGroup]="login" (ngSubmit)="onSubmit()">

  <div class="form-group">
    <label>Email: </label>
    <input formControlName="email" class="form-control" type="email">
    <div *ngIf="login.get('email').hasError('required') && login.get('email').touched" style="color: red">
      Not found !!!
    </div>
    <div *ngIf="login.get('email').hasError('email') && login.get('email').touched" style="color: red">
      Format failed email !!!
    </div>
  </div>

  <div class="form-group">
    <label>Password: </label>
    <input formControlName="password" class="form-control" type="password">
    <div *ngIf="login.get('password').hasError('required') && login.get('password').touched" style="color: red">
      Not found !!!
    </div>
    <div *ngIf="login.get('password').hasError('minlength') && login.get('password').touched" style="color: red">
      Min length = 6
    </div>
  </div>
  <div *ngIf="login.controls.checkPassword.hasError('invalidpassword')" style="color: red">
    Password failed !!!
  </div>

  <button class="btn btn-success form-control" type="submit">Log-in</button>

</form>
