<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head th:insert="layout::head">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="container">
    <h3>Danh sach tin tuc</h3>
    <a href="/news/create">Them moi tin tuc</a>
    <form action="/news/search" method="get">
        <input type="text" name="value">
        <button type="submit" class="btn btn-info">Tim kiem</button>
    </form>
    <p th:text="${msg}"></p>
    <table class="table">
        <tr th:each="newslist:${newsList}">
            <td th:text="${newslist.getId()}"></td>
            <td th:text="${newslist.getHeader()}"></td>
            <td th:text="${newslist.category.name}"></td>

            <td><a th:href="@{/news/detail/{id} (id=${newslist.getId()})}"><button class="btn btn-info"><i class="fa fa-edit"></i> Detail</button></a></td>
            <td><a th:href="@{/news/edit/{id} (id=${newslist.getId()})}"><button class="btn btn-info"><i class="fa fa-edit"></i> Edit</button></a></td>
            <td><a th:href="@{/news/delete/{id} (id=${newslist.getId()})}"><button class="btn btn-danger"><i class="fa fa-trash"></i> &nbsp; Delete</button></a></td>
        </tr>
    </table>
</div>
</body>
</html>